.footer {
	width : 100%;
	background : #222;
	padding-top : 80px;
	padding-bottom : 0;
	.content-block {
		margin-top : 0 !important;
	}
	.footer-grid {
		@include outer-container;
		div {
			text-align : left;
			padding-left : 10px;
			padding-right : 10px;
			@media screen and (min-width: 750px) {
				@include span-columns(4);
			}
		}
	}
	font-size : 14px;
	p {
		font-size : 14px;
		line-height : 18px;
		color : #fff;
	}
	h6 {
		font-size : 18px;
		margin-top : 13px;
		text-transform: uppercase;
		color : #ccc;
		font-weight: $weight-bold;
		@media screen and (max-width: 750px) {
			margin-top : 30px;
			margin-bottom : 0;
		}
	}
	.social-icons {
		a {
			display: block;
			margin-bottom : 5px;
			color : #fff;
			i {
				color : $bright-color;
				padding-right : 5px;
				font-size : 18px;
			}
		}
		h6 {
			@media screen and (max-width: 750px) {
				margin-bottom : 20px;
			}
		}
	}
	.author {
		text-align: center;
		background : #000;
		color : #999;
		padding : 5px;
	}
}