body, html {
	margin : 0;
	background : $background-color;
}
.content-block {
	max-width : 960px;
	padding : 0 30px;
	margin : 0 auto 100px;
	text-align : center;
}
.wide-content-block {
	background : #eee;
	padding : 40px 0;
}
.no-margin-bottom {
	margin-bottom : 0 !important;
}