#instafeed-container {
	max-width : 2310px;
	width : 100%;
	height : 306px;
	overflow : hidden;
	margin-left : auto;
	margin-right : auto;
	margin-bottom : 50px;
}
#instafeed {
	height : 306px;
	width : 2310px;
	a {
		margin : 2px;
	}
}