.top-content {
	margin-top : 68px;
	margin-bottom : 60px;
	@media screen and (max-width: 900px) {
		margin-top : 54px;
	}
}
.main-content {
	text-align : center;
	max-width : $grid-width-max;
	margin : auto;
	display: flex;
    align-items: center;
    height : 100%;
	h1 {
		color : #fff;
	}
	p {
		color : #fff;
	}
}
.selling-points {
	display: flex;
	max-width : $grid-width-max;
	margin : auto;
	> div {
		flex : 1;
		text-align: center;
		margin : 10px;
		i {
			font-size : 30px;
			color : $bright-color;
		}
		h3 {
			text-transform : uppercase;
			color : #000;
			font-size : 18px;
			line-height : 24px;
			margin : 10px 0;
		}
	}
}

.map-class {
	margin-left : auto;
	margin-right : auto;
	img {
		max-width : none;
	}
}

.calender-block {
	width : 100%;
	margin-bottom : 25px;
	box-shadow : 0 0 10px rgba(0,0,0,0.15);
	text-align : left;
	display: table;
	cursor : pointer;
	> * {
		display: table-cell;
		box-sizing : border-box;
		vertical-align: top;
	}
	.date-text {
		text-align: center;
		padding : 10px 15px 20px 15px;
		margin : 15px;
		min-width : 130px;
		max-width : 130px;
		@media screen and (max-width: 600px) {
			min-width : 100px;
			max-width : 100px;
		}
		.date {
			margin : 0;
			font-size : 54px;
			line-height: 60px;
			@media screen and (max-width: 600px) {
				font-size : 40px;
				line-height : 54px;
			}
		}
		.month {
			font-size : 16px;
			line-height : 20px;
			margin : 0;
		}
	}
	.info-text {
		text-align: left;
		padding : 15px 120px 15px 15px;
		width : 100%;
		color : #555;
		font-size : 18px;
		line-height : 26px;
		@media screen and (max-width: 600px) {
			font-size : 15px;
			line-height : 22px;
			padding-left : 0;
			padding-right : 60px;
		}
		strong {
			color : #000;
		}
	}
	&:hover {
		box-shadow : 0 0 15px rgba(0,0,0,0.5);
		background : url('../images/arrow.png') #fff no-repeat calc(100% - 25px) 50%;
	}
	@media screen and (max-width: 600px) {
		background : url('../images/arrow.png') #fff no-repeat calc(100% - 25px) 50%;
	}
}
.contact-info {
	text-align : left;
	.profile-image {
		display: inline-block;
		position : absolute;
		float: left;
		border-radius : 100%;
	}
	.contact-us-text {
		font-size : 30px;
		line-height : 40px;
		text-align : left;
		font-weight: $weight-light;
		@media screen and (max-width: 600px) {
			font-size : 18px;
			line-height : 24px;
		}
	}
	.profile-image + .contact-us-text {
		padding-left : 110px; // img == 80px + 30px padding.
		@media screen and (max-width: 600px) {
			padding-left : 90px;
		}
	}
}
.logo-salad {
	text-align : center;
	img {
		display: inline-block;
		margin : 2px;
		max-width : 200px;
		@media screen and (max-width: 750px) {
			max-width : 160px;
		}
		@media screen and (max-width: 600px) {
			max-width : 120px;
		}
	}
}