// Colours
$background-color : #f8f8f8;
$link-color : #009788;
$link-hover-color : darken($link-color, 10%);
$btn-color-default : #009788;
$btn-color-text-default : #fff;

// Grid size
$max-width : 960px;

// Font weights
$weight-light : 300;
$weight-normal : 400;
$weight-bold : 700;