// Colours
$light-gray : #f5f5f5;
$link-color : #009788;
$bright-color : #2196f3;
$link-hover-color : darken($link-color, 10%);
$btn-color-default : #009788;
$btn-color-text-default : #fff;

// Grid size
$grid-width-max : 960px;

// Font weights
$weight-light : 300;
$weight-normal : 400;
$weight-bold : 700;